APP_NAME=SoftyFact
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8081

CORE_APP_URL=https://app.softyfact.tn

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=facture_pro
DB_USERNAME=softyfact_public
DB_PASSWORD=secret

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=softyfact_public_session

CACHE_STORE=file
LOG_CHANNEL=stack

APP_SUPPORT_PHONE=71 000 000
APP_ORDER_AMOUNT=149
APP_ORDER_AMOUNT_ONLINE=99
